html, body {
	padding: 0;
	margin: 0;

	@apply font-sans;
}

body {
	@apply bg-background text-text-default;
}

a {
	text-decoration: none;
	@apply transition-all duration-300;
}

.wrapper {
	@apply min-h-screen my-10;
}