html, body {
	padding: 0;
	margin: 0;

	@apply font-sans;
}

body {
	@apply text-text-default;
}

a {
	text-decoration: none;
	@apply transition-all duration-300;
}

.wrapper {
	@apply min-h-screen;
}

button {
	@apply cursor-pointer;
}